@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 14px 0px 40px 31px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

div:hover {
    background-color: yellow;
}

hgroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    nav-index: auto;
    margin: 0px 0px 33px 0px;
}

hgroup > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

hgroup > h2 {
    margin-left: 67px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 8%;
    margin: auto;
    margin-bottom: 30px;
}

fieldset legend {
    text-align: center;
    margin-bottom: 5px;
}

fieldset > table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

table > caption {
    border: 1px solid black;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 2rem;
}

th {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    height: 58px;
    transition: all 0.3s ease-in-out;
}

th:active {
    background-color: black;
    color: white;
}

td {
    border: 1px solid black;
    padding: 5px;
}

fieldset > nav {
    margin-left: 30px;
}

nav > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-bottom: 61px;
}

li > a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

li > a:hover {
    color: blue;
    text-decoration: underline;
}

fieldset > picture {
    margin: auto;
    margin-bottom: 20px;
    width: 65%;
}

fieldset > picture > img {
    width: 100%;
}