@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
    background-color: blanchedalmond;
    text-align: center;
    padding: 87px 0px;
    margin-bottom: 79px;
    text-transform: uppercase;
    visibility: inherit;
}

h2 {
    color: darkred;
    user-select: none;
    margin: 0px 0px 61px 97px;
}

@counter-style roman {
    system: 'upper-roman';
}

p {
    text-align: justify;
    color: white;
    margin: 0px 0px 12px 55px;
    counter-reset: roman;
}

p::before {
    content: counter(roman) ". ";
}

details {
    margin: 0px 0px 96px 60px;
}

details summary {
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 0px 66px 34px;
}

ul li {
    user-select: unset;
    padding-bottom: 5px;
}

ul li:nth-child(1) {
    border-bottom: 3px solid gray;
    width: 9.5%;
    animation: hairline-1 2s infinite;
}

ul li:nth-child(2) {
    border-bottom: 3px solid orange;
    width: 7%;
}

ul li:nth-child(3) {
    border-bottom: 3px solid blue;
    width: 5.7%;
}

ul li:nth-child(4) {
    border-bottom: 3px solid red;
    width: 6.1%;
}

ul li:nth-child(5) {
    border-bottom: 3px solid #783B1D;
    width: 7.1%;
}

ul li:nth-child(6) {
    border-bottom: 3px solid yellow;
    width: 8.5%;
}

ul li:nth-child(7) {
    border-bottom: 3px solid #00FFFF;
    width: 6.5%;
}

ul li:nth-child(8) {
    border-bottom: 3px solid darkblue;
    width: 8.5%;
}

@keyframes hairline-1 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 9.5%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 9.5%;
    }
}

@keyframes hairline-2 {
    0% {width: 0.1%;}

    100% {width: 7%;}
}

@keyframes hairline-3 {
    0% {width: 0.1%;}

    100% {width: 5.7%;}
}

@keyframes hairline-4 {
    0% {width: 0.1%;}

    100% {width: 6.1%;}
}

@keyframes hairline-5 {
    0% {width: 0.1%;}

    100% {width: 7.1%;}
}

@keyframes hairline-6 {
    0% {width: 0.1%;}

    100% {width: 8.5%;}
}

@keyframes hairline-7 {
    0% {width: 0.1%;}

    100% {width: 6.5%;}
}