@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
    background-color: blanchedalmond;
    text-align: center;
    padding: 87px 0px;
    margin-bottom: 79px;
    text-transform: uppercase;
    visibility: inherit;
}

h2 {
    color: darkred;
    user-select: none;
    margin: 0px 0px 61px 97px;
}

@counter-style roman {
    system: 'upper-roman';
}

p {
    text-align: justify;
    color: white;
    margin: 0px 0px 12px 55px;
    counter-reset: roman;
}

p::before {
    content: counter(roman) ". ";
}

details {
    margin: 0px 0px 96px 60px;
}

details summary {
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 0px 66px 34px;
    list-style-type: none;
}

ul li {
    display: inline-block;
    position: relative;
    user-select: unset;
    padding-bottom: 5px;
}

ul li::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    height: 3px;
}

ul li:nth-child(1)::after {
    animation: hairline-1 1.5s infinite alternate;
    background-color: gray;
}

ul li:nth-child(2)::after {
    animation: hairline-2 1.5s infinite alternate;
    background-color: orange;
}

ul li:nth-child(3)::after {
    animation: hairline-3 1.5s infinite alternate;
    background-color: blue;
}

ul li:nth-child(4)::after {
    animation: hairline-4 1.5s infinite alternate;
    background-color: red;
}

ul li:nth-child(5)::after {
   animation: hairline-5 1.5s infinite alternate;
   background-color: #7E4123;
}

ul li:nth-child(6)::after {
    animation: hairline-6 1.5s infinite alternate;
    background-color: yellow;
}

ul li:nth-child(7)::after {
    animation: hairline-2 1.5s infinite alternate;
    background-color: #01F7F7;
}

ul li:nth-child(8)::after {
    animation: hairline-8 1.5s infinite alternate;
    background-color: darkblue;
}

@keyframes hairline-1 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 4.2%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 4.1%;
    }
}

@keyframes hairline-2 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 3%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 2.9%;
    }
}

@keyframes hairline-3 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 2.5%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 2.4%;
    }
}

@keyframes hairline-4 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 2.8%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 2.7%;
    }
}

@keyframes hairline-5 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 3.2%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 3.1%;
    }
}

@keyframes hairline-6 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 3.8%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 3.7%;
    }
}

@keyframes hairline-8 {
    0% {
        width: 0.1%;
        left: 0;
    }

    50% {
        width: 3.9%;
        left: 0;
    }

    100% {
        width: 0.1%;
        left: 3.8%;
    }
}