@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

body {
    font-family: 'Notable', sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 99px;
}

p {
    font-size: 1.5em;
    margin-left: 1181px;
    margin-bottom: 468px;
}

button {
    margin-left: 212px;
}

dl {
    margin-left: 852px;
    display: block;
}

dt {
    font-size: 1.5em;
}

dd {
    display: initial;
}

caption {
    font-size: 2em;
    border: 1px solid black;
}

table {
    width: 1105px;
    border-collapse: collapse;
    margin-left: 624px;
}

th {
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

td.vazio {
    border: none;
}

div {
    margin-left: 162px;
}