@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 35px 0px;
}

p {
    margin: 0px 0px 63px 80px;
    width: 60%;
    padding: 34px;
}

div {
    margin-bottom: 11px;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease-in-out;
}

div:hover {
    color: white;
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
    color: white;
    background-color: red;
    width: 300px;
    font-size: 16px;
}

aside {
    position: absolute;
    right: 12%;
}

img {
    width: 17vw;
    margin: 0px 0px 92px 56px;
}

dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 43px;
}

dl > dt {
    margin-left: 64px;
}

dl > dd {
    margin-left: 78px;
    initial-letter-align: unset;
}