@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 54px 0px;
    display: block;
}

h2 {
    margin: 0px 0px 51px 42px;
    font-size: 2em;
}

p {
    margin: 0px 0px 61px 99px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px 47px 71px;
}

ul li {
    background-color: #1A67AA;
    color: white;
    padding: 55px;
    width: 50%;
    user-select: none;
}

fieldset {
    width: 96%;
    margin: auto;
    margin-bottom: 48px;
}

fieldset legend {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
}

picture {
    margin-left: 55px;
}