@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-image: radial-gradient(circle, rgb(90, 9, 9) 20%, rgb(21, 104, 228), rgb(36, 6, 6), rgb(17, 85, 8));
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    max-height: 118px;
    background-color: #103591;
    text-align: center;
    padding: 34px 0px;
    margin-bottom: 32px;
}

p {
    margin: 0px 0px 8px 83px;
}

nav {
    width: 92%;
    height: 196px;
    text-align: center;
    background-color: black;
    position: absolute;
    bottom: 63px;
    padding: 79px 0px;
    margin-left: 19px;
    border-radius: 82px;
}

nav > button {
    margin: 0px 50px;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid #FADB00;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

nav > button:hover {
    margin: 0px 55px;
    padding: 5px;
    background-color: rgb(133, 130, 130);
    color: white;
    border: 1px solid black;
    border-radius: 8px;
}