<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <table id="producttable">
        <thead>
          <tr>
            <td>Code</td>
            <td>Name</td>
          </tr>
        </thead>
        <tbody>
          <!-- os dados existentes podem opcionalmente ser incluídos aqui -->
        </tbody>
      </table>
      
      <template id="productrow">
        <tr>
          <td class="record"></td>
          <td></td>
        </tr>
      </template>

      <script src="index.js"></script>
      
</body>
</html>